
@font-face {
  font-family: 'plein';
  src: url('../fonts/Plein-Variable.woff2') format('woff2'),
       url('../fonts/Plein-Variable.woff') format('woff'),
       url('../fonts/Plein-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}

